.alert
  %strong
    Parameters:
  (
  %strong
    scale
  %em
    : Integer
  )
  d3.js scale
  , (
  %strong
    blocksize
  %em
    : Integer
  )
  size of block, (
  %strong
    lat
  %em
    : Float
  )
  rotation latitude, (
  %strong
    lon
  %em
    : Float
  )rotation longitude

#container