!!!
%html
  %head
    %title Block Map
  %body
    != @body()
  %script{src: 'javascripts/topojson.js'}
  %script{src: 'javascripts/world-110m.js'}
  %script{src: 'javascripts/underscore.js'}
  %script{src: 'javascripts/backbone.js'}
  %script{src: ''}